@charset "UTF-8";

body > #order-wrapper {
	padding-top: 50px;
	width: 80%;
	margin: auto;
}

img {
	width: 200px;
	height: 200px;
	padding: 15px 0;
}

#order-wrapper > h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 50px;
}

#order-wrapper > h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

#address-area > h3 {
	font-size: 20px;
	font-weight: bold;
}

#order-wrapper > .tables {
	margin-bottom: 50px;
	width: 100%;
}


/* 상품 */
#goods-header {
	width: 100%;
	border-bottom: 1px solid lightgray;
}

.goods-header-th1 {
	width: 70%;
	padding: 10px;
}

.goods-header-th2, .goods-header-th3 {
	width: 15%;
}


.goods-list {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 15px;
	border-bottom: 3px solid lightgray;
}



/* 회원정보 */
#order-wrapper h2 {
	position: relative;
}

#order-wrapper h2:after {
	position: absolute;
	content: "";
	width: 150px;
	height: 3px;
	bottom: -10px;
	left: 0;
	background-color: rgb(254, 146, 159);
}

.member-info-tr > .member-info-td {
	font-size: 18px;
	font-weight: bold;
	width: 25%;
	padding: 15px;
}

.member-info-input {
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid lightgray;
	box-sizing: border-box;
}

/* 주소 */
#order-wrapper > #address-area {
	padding: 30px;
}

#address-area {
	
}

.col-md-3 > label {
	font-size: 18px;
    font-weight: bold;
    margin-right: 100px;
    padding: 15px;
}

.address-icon {
	margin-bottom: 5px;
}

#address1, #address2, #post {
	line-height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.address-info {
	display: flex;
	line-height: 30px;
	border-radius: 5px;
}

.address-div {
	padding: 5px;
}


/* 결제 관련 */
#payment-area {
	width: 100%;
	border-top: 3px solid lightgray;
	display: flex;
	text-align: center;
	margin: auto;
	margin-bottom: 150px;
}

#payment-other {
	display: inline-block;
	margin: auto;
	width: 35%;
}

#payment-other > h3 {
	font-size: 18px;
	font-weight: bold;
	margin : 20px 0;
}


/* 공용 버튼 */
.pink-btn {
  width: 200px;
  background-color: #FE929F;
  height : 36px;
  border-radius: 10px;
  border : none;
  color : #fafafa;
  font-size : 14px;
  margin-left : 5px;
  font-family: 'TmoneyRoundWindRegular';
}

.pink-btn:hover {
	background-color: rgb(128, 128, 128); 
  cursor: pointer;
  color: #000000;
}

/* 반응형 */
@media screen and ( max-width: 768px ) {
	.member-info-tr > .member-info-td {
		width: 40%;
	}
	
	.goods-header-th1 {
		width: 50%;
	}
	
	.goods-header-th2, .goods-header-th3 {
		width: 25%;
	}
}