<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartMapper">

	<!-- 장바구니 resultMap -->
	<resultMap type="Baguni" id="cart_rm">
		<id property="cartNo" column="CART_NO"/>
		
   		<result property="prdtName" column="PRDT_NAME"/>
  		<result property="prdtNo" column="PRDT_NO"/>
  		<result property="memNo" column="MEM_NO"/>
  		<result property="gOptName" column="G_OPT_NAME"/>
  		<result property="gOptNo" column="G_OPT_NO"/>
  		<result property="cartAmount" column="CART_AMOUNT"/>
  		<result property="prdtPrice" column="PRDT_PRICE"/>
  		<result property="prdtType" column="PRDT_TYPE"/>
	</resultMap>
	
	<!-- 파일 resultMap -->
	<resultMap type="Attachment" id="attachment_rm">	
		<id property="fileNo" column="FILE_NO"/>
		
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="prdtNo" column="PRDT_NO"/>	
	</resultMap>
	
	
	
	<!-- 장바구니 조회 -->
	<select id="selectBaguni" parameterType="_int" resultMap="cart_rm">
		SELECT * FROM V_BAGUNI
		WHERE MEM_NO = #{memberNo}
	</select>
	
	<!-- 장바구니 썸네일 조회 -->
	<select id="cartThumbnailList" parameterType="list" resultMap="attachment_rm">
		SELECT * FROM PRODUCT_IMG
		WHERE FILE_LEVEL = 0
		AND PRDT_NO IN
		<foreach collection="list" item="cart" open="(" close=")" separator=",">
			#{cart.prdtNo}
		</foreach>		
	</select>
	
	
	
	<!-- 클래스 장바구니에 추가 -->
	<insert id="insertClassCart" parameterType="map">
		INSERT INTO BAGUNI(CART_NO, CART_AMOUNT, PRDT_NO, MEM_NO, G_OPT_NO)
		SELECT SEQ_BGNNO.NEXTVAL, #{amount}, #{prdtNo}, #{memberNo}, null FROM DUAL A
		WHERE NOT EXISTS (SELECT 0 FROM BAGUNI WHERE PRDT_NO = #{prdtNo})
	</insert>
	
	
	
	<!-- 장바구니에서 상품 제거 -->
	<delete id="deleteCart" parameterType="map">
		DELETE FROM BAGUNI
		WHERE MEM_NO = #{memberNo}
		AND CART_NO = #{cartNo}
	</delete>
	
</mapper>