<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paymentMapper">

	<!-- 결제 정보 resultMap -->
	<resultMap type="PaymentInfo" id="payment_rm">
		<id property="cartNo" column="CART_NO"/>
		
  		<result property="prdtNo" column="PRDT_NO"/>
  		<result property="prdtName" column="PRDT_NAME"/>
  		<result property="gOptNo" column="G_OPT_NO"/>
  		<result property="prdtPrice" column="PRDT_PRICE"/>
  		<result property="cartAmount" column="CART_AMOUNT"/>
	</resultMap>
	
	<!-- 파일 resultMap -->
	<resultMap type="Attachment" id="attachment_rm">	
		<id property="fileNo" column="FILE_NO"/>
		
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="prdtNo" column="PRDT_NO"/>	
	</resultMap>
	
	
	
	<!-- 결제창 주문목록 조회 -->
	<select id="orderList" parameterType="map" resultMap="payment_rm">
		SELECT * FROM V_BAGUNI
		<foreach collection="oList" item="orderProduct" open="WHERE CART_NO = " separator="OR CART_NO = ">
			#{orderProduct.cartNo}
		</foreach>
	</select>
	
	<!-- 결제창 주문목록 썸네일 조회 -->
	<select id="bOrderThumbnailList" parameterType="list" resultMap="attachment_rm">
		SELECT * FROM PRODUCT_IMG
		WHERE FILE_LEVEL = 0
		AND PRDT_NO IN
		<foreach collection="list" item="orderProduct" open="(" close=")" separator=",">
			#{orderProduct.prdtNo}
		</foreach>		
	</select>
		
	
</mapper>