@charset "UTF-8";

@font-face {
    font-family: 'HSBombaram3_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.1/HSBombaram3_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.container .box{
    position: relative;
    width: 600px;
    height: 800px;
    background: #000;
}
.container .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .contentBx{
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .55);
    transition: transform .5s;
    transform-origin: right;
    transform: scaleX(0);
}
.container .box:hover  .contentBx{
    transition: transform .5s;
    transform-origin: left;
    transform: scaleX(1);
}
.container .box .contentBx .content{
    position: relative;
    padding: 20px 60px;
    opacity: 0;
}

.container .box:hover .contentBx .content{
    opacity: 1;
    transition: .5s;
    transition-delay: .5s;
}
.container .box .contentBx .content h1{
		font-family: 'HSBombaram3_Regular';
		font-size: 300%;
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
}
.container .box .contentBx .content p{
		font-family: 'HSBombaram3_Regular';
		font-size: 1.2em;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
}
