@charset "UTF-8";
/* ///////////////////////////////////////////////////////////// */
body{
/* 	background-color: #fafafa; */
}

@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
	height: 100px;
	font-family: 'yg-jalnan' !important;
	font-weight: 100;
}

header #headerWrapper {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	background-color: #fafafa;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
	position: fixed;
	top: 0;
	left: 0;	
	z-index: 2;
	
}
header #headerWrapper #header-menu > li> a{
	font-family: 'yg-jalnan';
}
header #headerWrapper #header-member-area > a{
	font-family: 'yg-jalnan';
}

/* 마이페이지 */
#midea-mypage {
	display: none;
	position: relative;
}

#mypage-hamberger {
	font-size: 24px;
	position: fixed;
	top: 35px;
	left: 75px;
}

#mypage-hamberger:hover {
	cursor: pointer;
}

#header-mypage {
	visibility: hidden;
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 0;
	background-color: #fafafa;
	transition-property: min-height;
    transition-duration: 0.3s;
}

#mypage-menu {
	padding: 0;
	margin: auto;
	width: 100%;
}

.mypage-li {
	position: relative;
  width: 100%;
  height: 20%;
  line-height: 40px;
  text-align: center;
  list-style: none;
  transition: 0.3s;
} 

.mypage-li > a {
	font-size: 16px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.mypage-li {
	cursor: pointer;
}

.mypage-li:hover > .media-hover {
	transition: 0.3s;
	opacity: 0.5;
	background: #fe929f;
	height: 100%;
  width: 100%;
}





/* 로고 */
#header-logo {
	z-index: -10;
	width: 15%;
	height: 100%;
	text-align: center;
	width: 15%;
}
#header-logo >a {
	display: block;
	object-fit: cover;
	
	
}

#logo {
	width : 100px;
	height : 100px;
 	background-size: 100px 100px;
	background-repeat: no-repeat;
}






/* 메뉴 */
#header-menu{
	width: 70%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
}

.header-li {
  position: relative;
  height: 50%;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  margin: 0;
  text-decoration: none;
  letter-spacing: 2px;
  overflow: hidden;
}

.header-li:hover {
	cursor: pointer;
}

.header-li > a {
	color: black;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	transition: 0.3s;
	padding: 0 10px;
}

.span1{
  position: absolute;
  background: #fe929f;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: animate 1.2s linear;
}

@keyframes animate{
    0%{
        width: 0;
        height: 0;
        opacity: 0.8;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}


/* 로그인 영역 */
#header-member-area {
	width: 15%;
	text-align: center;
	position: relative;
	font-size: 20px;
}
#header-member-area > a{
	text-decoration: none;
	color: black;	
	background: #fe929f;
	font-weight: 300;
	padding: 10px 20px;
	
}
.header-login, #hamberger {
	display: none;
}

#hamberger {
	font-size: 24px;
	position: fixed;
	top: 35px;
	right: 75px;
}

#hamberger:hover {
	cursor: pointer;
}

#header-media-menu {
	visibility: hidden;
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 0;
	background-color: #fafafa;
	transition-property: min-height;
  transition-duration: 0.3s;
}

#media-menu {
	padding: 0;
	margin: auto;
	width: 100%;
}

.media-li {
	position: relative;
  width: 100%;
  height: 20%;
  line-height: 40px;
  text-align: center;
  list-style: none;
} 

.media-hover {
	border-radius: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fe929f;
	transition: 0.3s;
	opacity: 0;
	height: 0;
  width: 0;
}

.media-li:hover {
	cursor: pointer;
}

.media-li:hover > .media-hover {
	transition: 0.3s;
	opacity: 0.5;
	background: #fe929f;
	height: 100%;
  width: 100%;
}

.media-li > a {
	color: black;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	transition: 0.3s;
}


/* 로그인 동그라미 */
.action{
	position: fixed;
    top: 20px;
    right: 30px;
}
.action .profile{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: corver;
}
.action .menu{
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, .1);
    border-radius: 10px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}
.action .menu.active{
    top: 80px;
    visibility: visible;
    opacity: 1;
    background: #ffe6ff;
}
.action .menu ::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #ffe6ff;
    transform: rotate(45deg);
}
.action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 28px;
    color: #555;
    line-height: 1.2em;
}
.action .menu h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}

.action .menu ul{

}
.action .menu ul li {
	margin-bottom: 15px;
}
.action .menu ul li a{
	color: #141414;
	text-decoration: none;
}
.action .menu ul li a div{
	
}
.action .menu ul li a div span{
	font-size: 14px;
}












/* 취소 아이콘 */
#cancle-icon {
	font-size: 24px;
	position: fixed;
	top: 35px;
	right: 75px;
	display: none;
	z-index: 1;
}

#cancle-icon:hover {
	cursor: pointer;
}


/* 반응형 */
@media screen and ( max-width: 768px ) {
	#login {
		display: none;
	}

	#midea-mypage {
		display: block;
	}

	#hamberger, .header-login {
		display: block;
	}
	
	#midea-mypage {
		width: 15%;
	}
	
	#header-logo {
		width: 70%;
		overflow: hidden;
	}
	
	#logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	
	#header-menu {
		display: none;
	}
	
	
}















@media screen and ( max-width: 768px ) {
	.action{
	    display: none;
	}
	
}