<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">

	<!-- resultMap: 조회된 result set의 컬럼명과 VO의 필드명이 같지 않을 때 매칭시키는 역할 -->
	<resultMap type="Member" id="member_rm">
		<!-- DB의 기본 키 -->
		<id property="memberNo" column="MEM_NO"/>
		
		<!-- DB의 일반 컬럼들 -->
   		<result property="memberEmail" column="MEM_EMAIL"/>
  		<result property="memberPwd" column="MEM_PW"/>
  		<result property="memberName" column="MEM_NAME"/>
  		<result property="memberNick" column="MEM_NICK"/>
  		<result property="memberPhone" column="MEM_PHONE"/>
  		<result property="memberAddress" column="MEM_ADDR"/>
  		<result property="memberGrade" column="MEM_GRADE"/>
  		<result property="memberType" column="MEM_TYPE"/>
  		<result property="memberSec" column="MEM_SEC"/>
  		
  		<result property="mImgNo" column="MEM_NO"/>
  		<result property="mImgPath" column="LCS_PATH"/>
  		<result property="mImgName" column="LCS_NAME"/>
  		<result property="mImgStatus" column="LCS_STATUS"/>
  		<result property="mImgDate" column="LCS_DATE"/>
	</resultMap>

	<!-- resultMap: 조회된 result set의 컬럼명과 VO의 필드명이 같지 않을 때 매칭시키는 역할 -->
	<resultMap type="Report" id="report_rm">
		<!-- DB의 기본 키 -->
		<id property="reportNo" column="REP_NO"/>
		
		<!-- DB의 일반 컬럼들 -->
   		<result property="reportType" column="REP_TYPE"/>
  		<result property="parentNo" column="PARENT_NO"/>
  		<result property="parentType" column="PARENT_TYPE"/>
  		<result property="reportTarget" column="REP_TARGET"/>
  		<result property="memberNo" column="MEM_NO"/>
  		<result property="reportCount" column="REP_COUNT"/>
	</resultMap>

	<!-- resultMap: 조회된 result set의 컬럼명과 VO의 필드명이 같지 않을 때 매칭시키는 역할 -->
	<resultMap type="Product" id="product_rm">
		<!-- DB의 기본 키 -->
		<id property="prdtNo" column="PRDT_NO"/>
		
		<!-- DB의 일반 컬럼들 -->
   		<result property="prdtType" column="PRDT_TYPE"/>
  		<result property="prdtName" column="PRDT_NAME"/>
  		<result property="prdtContent" column="PRDT_CONTENT"/>
  		<result property="prdtPrice" column="PRDT_PRICE"/>
  		<result property="createDate" column="CREATE_DATE"/>
  		<result property="modifyDate" column="MODIFY_DATE"/>
  		<result property="prdtStatus" column="PRDT_STATUS"/>
  		<result property="memNo" column="MEM_NO"/>
	</resultMap>

	<!-- resultMap: 조회된 result set의 컬럼명과 VO의 필드명이 같지 않을 때 매칭시키는 역할 -->
	<resultMap type="Magazine" id="magazine_rm">
		<!-- DB의 기본 키 -->
		<id property="mgzNo" column="MGZ_NO"/>
		
		<!-- DB의 일반 컬럼들 -->
   		<result property="mgzTitle" column="MGZ_TITLE"/>
  		<result property="mgzContent" column="MGZ_CONTENT"/>
  		<result property="mgzCreateDt" column="CREATE_DATE"/>
  		<result property="mgzReadCnt" column="READ_CNT"/>
  		<result property="mgzDelStatus" column="DELETE_STATUS"/>
  		<result property="memberNo" column="MEM_NO"/>
	</resultMap>

	<!-- resultMap: 조회된 result set의 컬럼명과 VO의 필드명이 같지 않을 때 매칭시키는 역할 -->
	<resultMap type="Customor" id="customor_rm">
		<!-- DB의 기본 키 -->
		<id property="cusNo" column="CUS_NO"/>
		
		<!-- DB의 일반 컬럼들 -->
   		<result property="cusContent" column="CUS_CONTENT"/>
  		<result property="memNo" column="MEM_NO"/>
  		<result property="curNo" column="CUR_NO"/>
  		<result property="curContent" column="CUR_CONTENT"/>
	</resultMap>
	
	
	<resultMap type="BmemberInfo" id="bmemberInfo">
		<id property="bmemNo" column="MEM_NO"/>
		
   		<result property="bmemShop" column="BMEM_SHOP"/>
  		<result property="bmemIntro" column="BMEM_INTRO"/>
	</resultMap>
	
	
	
	<!-- 전체회원 페이징 처리(목록 갯수) -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
	</select>

	<!-- 블랙리스트 회원 페이징 처리(목록 갯수) -->
	<select id="getBmListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEM_GRADE = 'X'
	</select>
	
	<!-- 전체 게시글 페이징 처리(목록 갯수) -->
	<select id="getListBdCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
	</select>
	
	<!-- 매거진 게시글 페이징 처리(목록 갯수) -->
	<select id="getListMzCount" resultType="_int">
		SELECT COUNT(*)
		FROM MAGAZINE
	</select>
	
	<!-- 관리자 고객센터 페이징 처리(목록 갯수) -->
	<select id="getListAcCount" resultType="_int">
		SELECT COUNT(*)
		FROM V_CUSTOMOR
	</select>
	
	<!-- 회원 고객센터 페이징 처리(목록 갯수) -->
	<select id="getListMcCount"	resultType="_int">
		SELECT COUNT(*)
		FROM V_CUSTOMOR
		WHERE MEM_NO = #{memberNo}
	</select>
	
	<!-- 신고 대기 페이징 처리(목록 갯수) -->
	<select id="getListRsCount" resultType="_int">
		SELECT *
		FROM REPORT
	</select>
	
	<!-- 회원 전체 조회 -->
	<select id="adminMember" parameterType="_int" resultMap="member_rm">
		SELECT MEM_NO, MEM_EMAIL, MEM_NAME, MEM_TYPE, MEM_GRADE
		FROM MEMBER
		ORDER BY MEM_NO DESC
	</select>
	
	<!-- 회원 등급 변경 -->
	<update id="updateMemberGrade" parameterType="map">
		UPDATE MEMBER SET
		MEM_GRADE = #{memberGrade}
		WHERE MEM_NO IN
		<foreach collection="memberNo" item="no" open="(" close=")" separator=",">
			#{no}
		</foreach>
	</update>
	
	<!-- 블랙리스트 회원 조회 -->
	<select id="adminBlackMem" parameterType="_int" resultMap="member_rm">
		SELECT MEM_NO, MEM_EMAIL, MEM_NAME, MEM_TYPE
		FROM MEMBER
		WHERE MEM_GRADE = 'X'
		ORDER BY MEM_NO DESC
	</select>
	
	<!-- 게시글 전체조회 -->
	<select id="productBoard" parameterType="_int" resultMap="product_rm">
		SELECT PRDT_NO, PRDT_TYPE, PRDT_NAME, CREATE_DATE, MODIFY_DATE, PRDT_STATUS
        FROM PRODUCT
        ORDER BY PRDT_NO DESC
	</select>
	
	<!-- 게시글 상태 변경 -->
	<update id="boardUpdate" parameterType="map">
		UPDATE PRODUCT SET
		PRDT_STATUS = #{prdtStatus}
		WHERE PRDT_NO IN
		<foreach collection="prdtNo" item="no" open="(" close=")" separator=",">
			#{no}
		</foreach>
	</update>
	
	<!-- 매거진 전체 조회 -->
	<select id="adminMagazine" parameterType="_int" resultMap="magazine_rm">
		SELECT MGZ_NO, MGZ_TITLE, CREATE_DATE, DELETE_STATUS
        FROM MAGAZINE
        ORDER BY MGZ_NO DESC
	</select>
	
	<!-- 관리자 고객센터 목록 전체 조회 -->
	<select id="adminCustomor" parameterType="_int" resultMap="customor_rm">
		SELECT *
        FROM V_CUSTOMOR
        ORDER BY CUS_NO DESC
	</select>
	
	<!-- 게시글 작성자 조회 -->
	<select id="writerCheck" parameterType="map" resultType="_int">
		SELECT MEM_NO
		FROM PRODUCT
		JOIN MEMBER USING(MEM_NO)
		WHERE PRDT_NO = #{prdtNo}
	</select>
	
	<!-- 게시글 신고(게시자 신고) -->
	<insert id="reportPost" parameterType="Report">
		INSERT INTO REPORT
		VALUES(SEQ_REP.NEXTVAL, #{reportType}, #{parentNo}, #{parentType}, #{reportTarget}, #{memberNo}, DEFAULT)
	</insert>
	
	<!-- 신고할 게시글 타입 조회 -->
	<select id="boardType" parameterType="map" resultType="string">
		SELECT PRDT_TYPE
		FROM PRODUCT
		WHERE PRDT_NO = #{prdtNo}
	</select>
	
	<!-- 신고받은 사람 횟수 조회 -->
	<select id="reportCount" parameterType="Report" resultType="_int">
		SELECT COUNT(REP_COUNT)
		FROM REPORT
		WHERE MEM_NO = #{memberNo}
	</select>
	
	<!-- 신고 3회이상 등급 변경 -->
	<update id="reportMember" parameterType="_int">
		UPDATE MEMBER SET
		MEM_GRADE = 'X'
		WHERE MEM_NO = #{writerCheck}
	</update>
	
	<!-- 회원 고객센터 목록 전체 조회 -->
	<select id="memberCustomer" parameterType="_int" resultMap="customor_rm">
		SELECT *
		FROM V_CUSTOMOR
		WHERE MEM_NO = #{memberNo}
		ORDER BY CUS_NO DESC
	</select>
	
	<select id="getMember" resultMap="member_rm">
		SELECT * 
		FROM V_BMEMBER
		JOIN LICENSE_IMG USING(MEM_NO)
		WHERE MEM_GRADE = 'U'
	</select>
	
	<!-- 회원 상세 조회  -->
	<select id="getbMember" resultMap="member_rm" parameterType="_int">
		SELECT * 
		FROM V_BMEMBER
		JOIN LICENSE_IMG USING(MEM_NO)
		WHERE MEM_GRADE = 'U' AND MEM_NO = #{memberNo}
	</select>
	
	<select id="bmemShop" resultType="string">
		SELECT BMEM_SHOP
		FROM BMEMBER
		WHERE MEM_NO = #{memberNo}
	</select>
	
	
</mapper>