<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendarMapper">

	<!-- resultMap: 조회된 result set의 컬럼명과 VO의 필드명이 같지 않을 때 매칭시키는 역할 -->
	<resultMap type="Member" id="member_rm">
		<!-- DB의 기본 키 -->
		<id property="memberNo" column="MEM_NO"/>
		
		<!-- DB의 일반 컬럼들 -->
   		<result property="memberEmail" column="MEM_EMAIL"/>
  		<result property="memberPwd" column="MEM_PW"/>
  		<result property="memberName" column="MEM_NAME"/>
  		<result property="memberNick" column="MEM_NICK"/>
  		<result property="memberPhone" column="MEM_PHONE"/>
  		<result property="memberAddress" column="MEM_ADDR"/>
  		<result property="memberGrade" column="MEM_GRADE"/>
  		<result property="memberType" column="MEM_TYPE"/>
  		<result property="memberSec" column="MEM_SEC"/>
	</resultMap>
	
	
	<!-- V_CALENDAR 
			 GDAY_NO, GDAY_TITLE, GDAY_FREQ, GDAY_INTER, DT_START, DT_UNTIL, GDAY_COLOR, MEM_NO, 
    MEM_NICK, MEM_PHONE
	 -->
	<resultMap type="Calendar" id="calendar_rm">
		<id property="gdayNo" column="GDAY_NO"/>
		<result property="gdayTitle" column="GDAY_TITLE"/>
		<result property="gdayFreq" column="GDAY_FREQ"/>
		<result property="gdayInter" column="GDAY_INTER"/>
		<result property="dtStart" column="DT_START"/>
		<result property="dtUntil" column="DT_UNTIL"/>
		<result property="gdayColor" column="GDAY_COLOR"/>
		<result property="memberNo" column="MEM_NO"/>
		<result property="memberNick" column="MEM_NICK"/>
		<result property="memberPhone" column="MEM_PHONE"/>
	</resultMap>

<!-- 캘린더 기념일 전체 조회 -->
 <select id="selectCalendarList" parameterType="_int" resultMap="calendar_rm">
 	SELECT * FROM V_CALENDAR WHERE MEM_NO = #{memberNo}
 </select>

<!-- 캘린더 기념일 상세 조회 -->
	<select id="viewEvent" parameterType="_int" resultMap="calendar_rm">
		SELECT * FROM V_CALENDAR WHERE GDAY_NO = #{gdayNo}
	</select>

<!-- 캘린더 기념일 등록 -->
	<insert id="insertEvent" parameterType="Calendar">
		INSERT INTO CALENDAR VALUES
		(CAL_SEQ.NEXTVAL, #{gdayTitle}, #{gdayFreq}, #{gdayInter}, #{dtStart}, #{dtUntil},
		 #{gdayColor}, #{memberNo})
	</insert>	
	
<!-- 캘린더 기념일 수정 -->
	<update id="updateEvent" parameterType="Calendar">
		UPDATE CALENDAR SET
		GDAY_TITLE = #{gdayTitle},
		GDAY_FREQ = #{gdayFreq},
		GDAY_INTER = #{gdayInter},
		DT_START = #{dtStart},
		DT_UNTIL = #{dtUntil},
		GDAY_COLOR = #{gdayColor}
		WHERE GDAY_NO = #{gdayNo}
	</update>
	
	
<!-- 캘린더 기념일 삭제 -->
	<delete id="deleteEvent" parameterType="_int">
		DELETE FROM CALENDAR WHERE GDAY_NO = #{gdayNo}	
	</delete>
	
	
	<!-- 문자 전송용 타겟 기념일 조회 -->
	<select id="selectTarget" resultMap="calendar_rm" parameterType="_int">
		SELECT * FROM V_CALENDAR 
		WHERE TO_CHAR(DT_UNTIL, 'YYYYMMDD') >= TO_CHAR(SYSDATE, 'YYYYMMDD')
		<if test="memberNo != 0">
			AND MEM_NO = #{memberNo}
		</if>
	</select>
</mapper>