<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="magazineMapper">

	<!-- resultMap: 조회된 result set의 컬럼명과 VO의 필드명이 같지 않을 때 매칭시키는 역할 -->
	<resultMap type="Magazine" id="magazine_rm">
		<!-- DB의 기본 키 -->
		<id property="mgzNo" column="MGZ_NO"/>
		
		<!-- DB의 일반 컬럼들 -->
   		<result property="mgzTitle" column="MGZ_TITLE"/>
  		<result property="mgzContent" column="MGZ_CONTENT"/>
  		<result property="mgzCreateDt" column="CREATE_DATE"/>
  		<result property="mgzReadCnt" column="READ_CNT"/>
  		<result property="mgzDelStatus" column="DELETE_STATUS"/>
  		<result property="memberNo" column="MEM_NO"/>
	</resultMap>
	
	<resultMap type="MagazineImg" id="magazineImg_rm">
		<id property="imgNo" column="MGZ_IMG_NO"/>
		<result property="imgPath" column="MGZ_IMG_PATH"/>
		<result property="imgName" column="MGZ_IMG_NAME"/>
		<result property="imgLevel" column="MGZ_IMG_LEVEL"/>
		<result property="mgzNo" column="MGZ_NO"/>
   </resultMap>
	
	
	<!-- 목록 갯수 -->
	<select id="getListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM MAGAZINE
		WHERE DELETE_STATUS = 'N' 
	</select>
	
	<!-- 매거진 조회 -->
	<select id="selectList" parameterType="_int" resultMap="magazine_rm">
		SELECT MGZ_NO, MGZ_TITLE, MGZ_CONTENT, CREATE_DATE
		FROM MAGAZINE
		WHERE DELETE_STATUS = 'N' 
		ORDER BY MGZ_NO DESC
	</select>
	
	<!-- 매거진 썸네일 조회 -->
	<select id="selectThumbnailList" parameterType="list" resultMap="magazineImg_rm">
		SELECT *
		FROM  MAGAZINE_IMG
		WHERE MGZ_IMG_LEVEL = 0
		AND MGZ_NO IN
		<foreach collection="list" item="magazine" open="(" close=")" separator=",">
			#{magazine.mgzNo}
		</foreach>
	</select>
	
	<!-- 매거진 다음 번호 조회 -->
	<select id="selectNextNo" resultType="_int">
		SELECT SEQ_MGZNO.NEXTVAL FROM DUAL
	</select>
	
	<insert id="insertMagazine" parameterType="map">
		INSERT INTO MAGAZINE(MGZ_NO, MGZ_TITLE, MGZ_CONTENT, CREATE_DATE, READ_CNT, DELETE_STATUS, MEM_NO)
		VALUES(#{mgzNo}, #{mgzTitle}, #{mgzContent}, SYSDATE, 0, 'N', #{memberNo})
	</insert>	
	
	<!-- 파일 정보 삽입 -->
	<insert id="insertAttachmentList" parameterType="list"> 
		INSERT INTO MAGAZINE_IMG
		SELECT SEQ_MGZ_IMG_NO.NEXTVAL, A.* FROM (
		<foreach collection="list" item="item" separator=" UNION ALL ">
			SELECT #{item.imgPath} MGZ_IMG_PATH,
				#{item.imgName} MGZ_IMG_NAME,
				#{item.imgLevel} MGZ_IMG_LEVEL,
				#{item.mgzNo} MGZ_NO
			FROM DUAL
		</foreach>
		)A
	</insert>
	
	<!-- 매거진 조회 -->
	<select id="selectMagazine" parameterType="Magazine" resultMap="magazine_rm">
		SELECT *
		FROM MAGAZINE
		WHERE DELETE_STATUS = 'N' AND MGZ_NO = #{mgzNo}
	</select>
	
	
	<!-- 매거진 조회수 증가 -->
	<update id="increaseReadCount" parameterType="_int">
		UPDATE MAGAZINE SET READ_CNT = READ_CNT+1 WHERE MGZ_NO = #{mgzNo}
	</update>
	
	<!-- 이미지 목록 조회 -->
	<select id="selectMimgList"  parameterType="_int" resultMap="magazineImg_rm">
		SELECT * 
		FROM MAGAZINE_IMG
		WHERE MGZ_NO = #{no}
		ORDER BY MGZ_IMG_LEVEL
	</select>
	
	<!-- 이미지 목록 조회 -->
	<select id="selectThumbnail"  parameterType="_int" resultMap="magazineImg_rm">
		SELECT * 
		FROM MAGAZINE_IMG
		WHERE MGZ_NO = #{no} AND MGZ_IMG_LEVEL = 0
	</select>
	
	
	
	
	
</mapper>