@charset "UTF-8";

/* number 태그 화살표 제거 */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.wrapper {
   width: 80%;
   margin: 0 auto;
}

.box {
   background: rgba(0, 0, 0, .07);
   width: 100%;
   height: 15%;
   padding: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.box h1 {
   font-size: 1.2em;
   font-weight: bold;
   padding: 7px;
}

.box ul {
	display: flex;
	justify-content: start;
	align-content: center;
}

.box ul li {
	margin-bottom: 10px;
}


.box .item {
	color: gray;
	border: 1px solid gray;
	border-radius: 40px;
	padding-right: 8px;
	padding-left: 8px;
	margin: 5px;
	line-height: 30px;	
	margin-bottom: 20px;
	cursor: pointer;
}



.box input[type="checkbox"] {
	display: none;
}

.box input[type="checkbox"]:checked + label {
	transition: 0.3s ease-out;
  background: #fe929f;
  color:white;
  border: 1px solid lightgray;
}

/* 수강인원/세션수/개강일 등 기입 */
.extraInput {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;

}

.extraInput .optRow input {
	width: 100px;
	vertical-align: middle;
	margin-left: 7px;
}

.extraInput .optRow input[type="date"] {
	width: 150px;
}

/* 신청 제목, 내용 작성 */
.boardRow {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.boardRow img {
	margin-top:30px;
	margin-bottom:20px;
	display: inline-block;
}

#title {
	height: 35px;
	width: 82%;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
}

/* 등록, 취소 버튼 */
.btnArea {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

#submitBtn {
	margin-top: 20px;
	margin-right: 10px;
	background: #fe929f;
	border-radius: 5px;
	border-style: none;
	color: white;
	width: 55px;
	height: 2em;
}

#resetBtn {
	margin-top: 20px;
	background: gray;
	border-radius: 5px;
	border-style: none;
	color: white;
	width: 55px;
	height: 2em;
	
}

/* 주소 입력 */
.address {
	margin-right: 20px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid #c9c9c9;
}

#sample5_address {
	width: 48%;
}

#searchBtn {
	border-style: none;
	background: #fe929f;
	color: white;
}}