@charset "UTF-8";

#side-fix {
	height: 100%;
}

#select-area {
	position: absolute;
	top: 150px;
	left: 50%;
	transform:translateX(-50%);
}

#gift-btn, #class-btn {
	font-family: 'TmoneyRoundWindRegular';
	color: #FFF;
}

#select-area > button {
	width: 100px;
	padding: 15px 0;
	margin-top: 20px;
	border-radius: 10px;
	border: none;
	background-color: #FE929F;
}

#select-area > button:hover {
  background-color: rgb(128, 128, 128); 
  cursor: pointer;
  color: #000000;
}


#cart-wrapper {
	min-height: 800px;
	display: flex;
	justify-content: space-between;
	font-family: 'TmoneyRoundWindRegular';
	margin-bottom: 200px;
}


/* 장바구니 상품 영역 */
#gift-list-area, #class-list-area {
	margin: auto;
	width: 60%;
	padding-right: 40px;
	padding-top: 100px;
}

#class-list-area {
	display: none;
}

.hidden-input {
	display: none;
}

.cart-content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
	border-bottom: 1px solid lightgray;
}

.cancle-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
}

.cancle-icon:hover {
	cursor: pointer;
}

.img-box {
	width: 30%;
	height: 100%;
	text-align: center;
	overflow: hidden; 
}

.img-box img {
	object-fit: contain;
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 150px;
}

.product-name {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
    width: 40%;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.cart-content button {
	width: 24px;
	height: 24px;
	line-height: 20px;
	text-align: center;
}

.product-name {
	font-size: 24px;
	font-weight: bold;
}

.acount-area input {
	padding: 5px 10px;
	width: 10px;
	text-align: center;
}

/* 결제 영역 */
#payment-area {
	width: 20%;
	align-self: center;
}

#payment-info {
	width: 80%;
	height: 100px;
	border: 1px solid black;
}

#payment-info span {
	font-size: 16px;
	font-weight: bold;
	display: block;
}

#price-text {
	display: flex;
	justify-content: space-between;
	margin: 20px 10px;
}

.order-btn {
	width: 80%;
	background-color: #FE929F;
	padding: 15px 0;
	margin-top: 20px;
	border-radius: 40px;
	color: #fafafa;
	border: none;
	font-family: 'TmoneyRoundWindRegular';
}

.order-btn:hover {
	background-color: rgb(128, 128, 128); 
  cursor: pointer;
  color: #000000;
}




/* 반응형 */
@media screen and ( max-width: 1080px ) {
	.product-name {
		width: 30%;
	}
	.acount-area {
		width: 100px;
	}
}


@media screen and ( max-width: 768px ) {
	#cart-wrapper {
		flex-direction: column;
	}
	
	#gift-list-area, #class-list-area {
		width: 80%;
	}
	
	#payment-area {
		margin: auto;
		margin-top: 30px;
		width: 80%;
		text-align: center;
	}
	
	#payment-info {
		margin: auto;
	}
	
	.product-name {
		width: 30%;
	}
	
}