
.update-cover{
	width: 70%;
	margin: auto;	
	padding: 200px 0;
	font-family: 'TmoneyRoundWindRegular'; 
}
.update-cover .title{
	width: 100%;
	text-align: center;
	margin: 0 0 40px;
  padding: 0;

  font-size : 24px;
}

.input-hidden { display:none;}
#checkPwd{
	font-size: 14px;
}

.update-cover .insert_info{
	width: 400px;
	margin: 0 auto;
	margin-bottom : 20px;
}
.update-cover .insert_info div{
	position: relative;
	width: 90%;
	margin: 0 auto;

}
.update-cover .insert_info div input{
    padding: 10px 0;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #999;
    font-family: 'TmoneyRoundWindRegular'; 
}
#newPw2 { margin-bottom : 10px;}

.update-cover .insert_info  div label{
	position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    transition: .5s;
    pointer-events: none;
}




.update-cover .insert_info div input:focus ~ label,
.update-cover .insert_info div input:valid ~ label{
    top: -12px;
    left: 0;
    color: #f7497d;
    font-size: 12px;
    font-weight: bold;
}
.update-cover .insert_info div input:focus,
.update-cover .insert_info div input:valid{
    border-bottom: 2px solid #f7497d;
}
.update-cover .insert_info div input:focus{
    outline:none;
}

.update-cover .btn {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.update-cover .btn button{
	background: #fe929f;
	outline: none;
	border: none;
  color : #fafafa;
  width : 80px;
  height : 30px;
  text-align: center;
  padding : 5px;
  margin : 3px;
  border-radius: 5px;
  font-size : 16px;
  line-height: 16px;
  cursor: pointer;
  font-family: 'TmoneyRoundWindRegular'; 
}


#update-btn:hover { 
    background-color: #db7e89; 
    color : #fafafa;
    text-decoration: none;
}


.showpw{
    position: absolute;
    top: 17%;
    right: 0;
    color:#141414;
}
.show{
	display: none;
}
.showpw:hover{
    cursor: pointer;
}

