
#container-list-all {
		width : 80%;
		box-sizing : border-box;
		display : flex;
    flex-direction: column;
    align-items: center;
    margin : 30px auto;
    min-height : 800px;
    font-family: 'TmoneyRoundWindRegular';
}

.no-list {
	width : 100%;
	height : 100px;
	justify-content : center;
	align-items : center;
	    display : flex;
    box-sizing: border-box;
}
.no-list-text {
	font-size : 20px;
	color : #596566;
	font-weight : bold;
}


.container-reviews, #container-review {
    box-sizing: border-box;
    margin : 30px;
    width : 80%;
}

.container-review {
    position: relative;
   /*  width : 100%; */
    /* border-bottom : 1px solid lightgray; */
    padding : 10px 10px 15px 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: flex-end;
    margin-bottom : 20px;
}

.a-delete {
    position : absolute;
    right: 20px;
    top : 15px;
    color : gray;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
}
.a-report{
		position : absolute;
		bottom : 0px;
    right: 10px;
    color : gray;
    background-color : white;
    width : 60px;
    height : 30px;
    border-top-left-radius : 5px;
		line-height : 30px;
    text-align : center;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
    font-size : 14px;
}
.a-delete:hover, .a-report:hover { color : #FE929F; text-decoration: none;}

.review-card {
    width : 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding : 0px 10px;
}

.review-info, .review-star, .review-content { 
    width : 100%; 
    display:flex;
}

.review-date {
    display: flex;
    align-items: center;
    height : 40px;
}
.date-text {
    border : 1px solid #806f71;
    border-radius: 5px;
    padding : 2px;
    font-size: 12px;
    color : #806f71;
}
.date-text ~ span { color : gray; font-size : 12px; margin-left : 5px;}

.review-info { 
    flex-direction: column; 
    height : 70px;
    justify-content: space-around;
}

.review-info-v {    
    min-height : 20px;
}

.review-info .info-name, .review-info-v .info-writer {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color : black;
}
 .info-opt, .review-info .info-date {
    color: gray;
    font-size : 14px;
}

.review-star {
    height : 60px;
    align-items: center;
    color : lightgray;
}
.review-star i { font-size: 18px;}
.star-count { display: none;}

.review-content {
    height : 160px;
    border-radius: 5px;
    background-color : #c5abae3b;
    padding : 10px;
    color : #2c2c2c;
}

.review-content-v {
    min-height : 50px;
    border-radius: 5px;
    background-color : #c5abae3b;
    padding : 10px;
    color : #2c2c2c;
    font-size : 14px;
}

 .review-img{
 		position : absolute;
 		top : 45px;
 		right : 20px;
    width : 120px;
    height : 120px;
    background-clip: border-box;
    background-size: cover; /* 배경 이미지로 div 커버 */
    overflow: hidden; /* 사진이 넘치면 hidden */
    background-position: center center;
    /* cursor : pointer; */
    z-index : 1;
}
 .review-img-v{
 		position : absolute;
 		/* border : solid 1px black; */
 		top : 16px;
 		right : 20px;
    width : 100px;
    height : 100px;
    background-clip: border-box;
    background-size: cover; /* 배경 이미지로 div 커버 */
    overflow: hidden; /* 사진이 넘치면 hidden */
    background-position: center center;
    /* cursor : pointer; */
    z-index : 1;
}

/* 상세 조회 후기 pagination */
.r-pagination {
	display: flex;
	align-items : center;
	justify-content : center;
}
.r-pagination a {
	color : gray;
	display : inline-block;
	width : 20px;
	text-align : center;
	cursor : pointer;
}


/* 더보기 */
.btn-more {
    width : 200px;
    height : 50px;
    background-color: #ffffff;
    color : #FE929F;
    font-size : 30px;
    border : 1px solid #FE929F;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top : 20px;
}

.btn-more:hover {
    background-color: #FE929F;
    color : #fafafa;
    text-decoration: none;
}

/* 반응형 */
@media (max-width : 768px){
    .container-reviews { 
			width : 100%;
    }
/*     .review-card, .review-img { width : 100%; }
    .review-card { margin-bottom: 10px; padding : 0px;} */
}
