<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<!-- DB로 전달되는 값 중 null이 있으면 에러가 아닌 NULL 자체로 인식  -->
	</settings>
	
	<typeAliases>
		<typeAlias type="team.project.gday.member.model.vo.Member" alias="Member"/>
		<typeAlias type="team.project.gday.calendar.model.vo.Calendar" alias="Calendar"/>
		<typeAlias type="team.project.gday.Product.model.vo.Gift" alias="Gift"/>
		<typeAlias type="team.project.gday.Product.model.vo.GClass" alias="Class"/>
		<typeAlias type="team.project.gday.Product.model.vo.ProductCTag" alias="ProductCTag"/>
		<typeAlias type="team.project.gday.Product.model.vo.GOption" alias="GOption"/>
		<typeAlias type="team.project.gday.member.model.vo.ProfileImg" alias="ProfileImg"/>
	</typeAliases>

	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/calendar-mapper.xml"/>
		<mapper resource="/mappers/product/class-mapper.xml"/>
		<mapper resource="/mappers/product/gift-mapper.xml"/>
		<mapper resource="/mappers/mypage/bmem/b-mem-mypage-mapper.xml.xml"/>
	</mappers>
</configuration>