<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="classMapper">

	<!-- V_Class resultMap -->
	<resultMap type="Class" id="class_rm">
		<id property="prdtNo" column="PRDT_NO"/>
   		<result property="prdtType" column="PRDT_TYPE"/>
  		<result property="prdtName" column="PRDT_NAME"/>
  		<result property="prdtContent" column="PRDT_CONTENT"/>
  		<result property="prdtPrice" column="PRDT_PRICE"/>
  		<result property="readCount" column="READ_COUNT"/>
  		<result property="createDate" column="CREATE_DATE"/>
  		<result property="modifyDate" column="MODIFY_DATE"/>
  		<result property="prdtStatus" column="PRDT_STATUS"/>
  		<result property="memNo" column="MEM_NO"/>
  		<result property="cCount" column="C_COUNT"/>
  		<result property="cNowCount" column="C_NOWCOUNT"/>
  		<result property="cSession" column="C_SESSION"/>
  		<result property="cLocal" column="C_LOCATE"/>
  		<result property="cStartDate" column="C_START_DATE"/>
  		<result property="cEndDate" column="C_END_DATE"/>
  		<result property="cStatus" column="C_STATUS"/>
  		<result property="cDate" column="C_DATE"/>
	</resultMap>

	<!-- 상품 카테고리 해시태그 resultMap -->
	<resultMap type="ProductCTag" id="tag_rm">
		<id property="tagNo" column="TAG_NO"/>
  	<result property="tagName" column="TAG_NAME"/>
 		<result property="ctNo" column="CT_NO"/>
 		<result property="ctName" column="CT_NAME"/>
 		<result property="prdtNo" column="PRDT_NO"/>
	</resultMap>		

	<!-- V_REVIEW resultMap -->
	<resultMap type="Review" id="review_rm">
		<id property="rvNo" column="RV_NO"/>
		<result property="rvContent" column="RV_CONTENT"/>
		<result property="rvStar" column="RV_STAR"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="rvStatus" column="RV_STATUS"/>
		<result property="writerNo" column="WRITER_NO"/>
		<result property="writer" column="WRITER"/>
		<result property="prdtNo" column="PRDT_NO"/>
		<result property="giftOpNo" column="GIFT_OP_NO"/>
		<result property="rvImgPath" column="RV_IMG_PATH"/>
		<result property="rvImgName" column="RV_IMG_NAME"/>
	</resultMap>		
	
		<!-- 상품 이미지 resultMap -->
	<resultMap type="Attachment" id="attachment_rm">
		<id property="fileNo" column="FILE_NO"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="prdtNo" column="PRDT_NO"/>
	</resultMap>
	
		<!-- 회원 resultMap -->
		<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEM_NO"/>
   		<result property="memberEmail" column="MEM_EMAIL"/>
  		<result property="memberPwd" column="MEM_PW"/>
  		<result property="memberName" column="MEM_NAME"/>
  		<result property="memberNick" column="MEM_NICK"/>
  		<result property="memberPhone" column="MEM_PHONE"/>
  		<result property="memberAddress" column="MEM_ADDR"/>
  		<result property="memberGrade" column="MEM_GRADE"/>
  		<result property="memberType" column="MEM_TYPE"/>
  		<result property="memberSec" column="MEM_SEC"/>
	</resultMap>
	
		<!-- 별점 resultMap -->
		<resultMap type="ProductStar" id="star_rm">
		<id property="prdtNo" column="PRDT_NO"/>
			<result property="prdtName" column="PRDT_NAME"/>
			<result property="rvStarAvg" column="RV_STAR_AVG"/>
			<result property="rvStarView"  column="RG_STAR_VIEW"/>
		</resultMap>
		
	<!-- 다음 상품번호 조회 -->
	<select id="selectNextNo" resultType="_int">
		SELECT SEQ_PNO.NEXTVAL FROM DUAL
	</select>
	
	<!-- 상품 테이블에 삽입 -->
	<insert id="insertProduct" parameterType="map">
		INSERT INTO PRODUCT(PRDT_NO, PRDT_NAME, PRDT_TYPE, PRDT_CONTENT, PRDT_PRICE, READ_COUNT, CREATE_DATE, MODIFY_DATE, PRDT_STATUS, MEM_NO)
		VALUES(#{prdtNo}, #{prdtName}, 'C', #{prdtContent}, #{prdtPrice}, DEFAULT, DEFAULT, NULL, DEFAULT, 1)
	</insert>
	
	<!--클래스 테이블에 삽입-->
	<insert id="insertClass" parameterType="map">
	  INSERT INTO G_CLASS 
	  VALUES(#{prdtNo}, #{cCount}, DEFAULT, #{cSession}, #{cLocal}, #{cStartDate}, #{cEndDate}, DEFAULT, #{cDate})
	</insert>
	
	<!-- 상품-태그 테이블에 삽입 -->
	<insert id="insertTag" parameterType="map">
		INSERT ALL
		<foreach collection="hashNo" item="item" separator=" ">
			INTO PRODUCT_TAG VALUES (#{item}, #{prdtNo})
		</foreach>
		SELECT 1 FROM DUAL
	</insert>
	
	<!-- 파일 정보 삽입 -->
	<insert id="insertAttachmentList" parameterType="list"> 
		INSERT INTO PRODUCT_IMG
		SELECT SEQ_FNO.NEXTVAL, A.* FROM (
		<foreach collection="list" item="item" separator=" UNION ALL ">
			SELECT #{item.filePath} FILE_PATH,
				#{item.fileName} FILE_NAME,
				#{item.fileLevel} FILE_LEVEL,
				#{item.prdtNo} PRDT_NO
			FROM DUAL
		</foreach>
		)A
	</insert>
	
	<!-- 전체 클래수 수 조회 -->
	<select id="getClassCount" resultType="_int">
		SELECT COUNT(*) FROM V_CLASS
		WHERE PRDT_STATUS = 'Y'
	</select>
	
	<!-- 클래스 목록 조회 -->
	<select id="selectList" resultMap="class_rm">
		SELECT PRDT_NO, PRDT_NAME, PRDT_CONTENT, PRDT_PRICE, C_STATUS FROM V_CLASS
		WHERE PRDT_TYPE = 'C' AND PRDT_STATUS = 'Y'
		ORDER BY CREATE_DATE DESC
	</select>
	
	<!-- 썸네일 목록 조회 -->
	<select id="selectThumbnailList" parameterType="list" resultMap="attachment_rm">
		SELECT * FROM PRODUCT_IMG
		WHERE FILE_LEVEL = 0
		AND PRDT_NO IN
		<foreach collection="list" item="GClass" open="(" close=")" separator=",">
			#{GClass.prdtNo}
		</foreach>
	</select>
	
	<!-- 클래스 상세조회 -->
	<select id="selectGClass" parameterType="Class" resultMap="class_rm">
		SELECT *
		FROM V_CLASS
		WHERE C_STATUS = 'Y'
		AND PRDT_NO = #{prdtNo} 
	</select>
	
	<!-- 판매자 정보 조회 -->
	<select id="selectMember" parameterType="_int" resultMap="member_rm">
		SELECT *
		FROM MEMBER
		WHERE MEM_NO = #{memNo}
	</select>
	
	<!-- 클래스 조회수 증가 -->
	<update id="increaseReadCount" parameterType="_int">
		UPDATE PRODUCT SET
		READ_COUNT = READ_COUNT+1
		WHERE PRDT_NO = #{prdtNo}
	</update>
	
	<!-- 클래스에 포함된 이미지 목록 조회 -->
	<select id="selectAttachmentList" parameterType="_int" resultMap="attachment_rm">
		SELECT * FROM PRODUCT_IMG
		WHERE PRDT_NO = #{prdtNo}
		ORDER BY FILE_LEVEL
	</select>
	
	<!-- 클래스 상세 페이지의 썸네일 조회 -->
	<select id="selectThumbnail" parameterType="_int" resultMap="attachment_rm">
		SELECT FILE_NO, FILE_PATH, FILE_NAME FROM PRODUCT_IMG
		WHERE PRDT_NO = #{prdtNo}
		AND FILE_LEVEL = 0
	</select>
	
	<!-- 상품별 해시태그 조회 -->
	<select id="selectPrdtTagList" parameterType="_int" resultMap="tag_rm">
		SELECT * FROM V_PRDT_CT_TAG
		WHERE PRDT_NO = #{prdtNo}
	</select>
	
	<!-- 상품 테이블 수정 -->
	<update id="updateProduct" parameterType="map">
		UPDATE PRODUCT SET 
		PRDT_NAME = #{prdtName},
		PRDT_CONTENT = #{prdtContent},
		PRDT_PRICE = #{prdtPrice},
		MODIFY_DATE = SYSDATE
		WHERE PRDT_NO = #{prdtNo}
	</update>
	
	<!-- 클래스 테이블 수정 -->
	<update id="updateClass" parameterType="map">
		UPDATE G_CLASS SET
		C_COUNT = #{cCount},
		C_SESSION = #{cSession},
		C_LOCATE = #{cLocal},
		C_START_DATE = #{cStartDate},
		C_END_DATE = #{cEndDate},
		C_DATE = #{cDate}
		WHERE PRDT_NO = #{prdtNo}
	</update>
	
	<!-- 상품-태그 테이블 삭제 -->
	<delete id="deletePrdtTag" parameterType="_int">
		DELETE FROM PRODUCT_TAG
		WHERE PRDT_NO = #{prdtNo}
	</delete>
	
	<!-- 파일 정보 수정 -->
	<update id="updateAttachment" parameterType="Attachment">
		UPDATE PRODUCT_IMG SET
		FILE_PATH = #{filePath},
		FILE_NAME = #{fileName},
		FILE_LEVEL = #{fileLevel}
		WHERE FILE_NO = #{fileNo}
	</update>
	
	<!-- 파일 정보 일괄 삭제 -->
	<delete id="deleteAttachmentList" parameterType="list">
		DELETE FROM PRODUCT_IMG
		WHERE FILE_NO IN
		<foreach collection="list" item="fileNo" open="(" close=")" separator=",">
			#{fileNo}
		</foreach>
	</delete>
	
	<!-- 클래스 마감하기 -->
	<update id="pauseAction" parameterType="_int">
		UPDATE G_CLASS SET C_STATUS = 'N' WHERE PRDT_NO = #{prdtNo}
	</update>
	
	<!-- 별점 조회하기 -->
	<select id="selectStarList" parameterType="list" resultMap="star_rm">
		SELECT * FROM V_PRODUCT_STAR WHERE PRDT_NO IN
		<foreach collection="list" item="prdt" open="(" close=")" separator=",">
		 	#{prdt.prdtNo}
		</foreach>
	</select>
	
	<!-- 메인에서 상위 3개 클래스 가져오기 DAO -->
	<select id="selectClassList3" resultMap="class_rm">
		SELECT PRDT_NO, PRDT_NAME, PRDT_CONTENT, PRDT_PRICE, C_STATUS FROM V_CLASS 
		WHERE PRDT_TYPE = 'C' AND PRDT_STATUS = 'Y'
		ORDER BY CREATE_DATE DESC
	</select>
	
	<!-- 카테고리 검색 조건이 포함되지 않은 페이징 처리용 객체 얻어오기 -->
	<select id="getSearchListCountAll" parameterType="Search" resultMap="class_rm">
	SELECT COUNT(*) FROM (
			SELECT * FROM V_CLASS
			JOIN PRODUCT_TAG USING(PRDT_NO)
			JOIN HASHTAG USING(TAG_NO)
			JOIN G_CATEGORY USING(CT_NO)
			WHERE PRDT_STATUS = 'Y'
			AND PRDT_TYPE = 'C'
			<if test="sv != null">
				<bind name="val" value="'%' + sv + '%'"/>
				AND PRDT_NAME LIKE '%' || #{val} || '%'
			</if>)
	</select>
	
	<!-- 카테고리 검색 조건이 포함된 페이징 처리용 객체 얻어오기 -->
	<select id="getSearchListCount" parameterType="Search" resultMap="class_rm">
		SELECT COUNT(*) FROM (
		<foreach collection="category" item="ct" open="(" close=")" separator="INTERSECT">
			SELECT * FROM PRODUCT
			JOIN PRODUCT_TAG USING(PRDT_NO)
			JOIN HASHTAG USING(TAG_NO)
			JOIN G_CATEGORY USING(CT_NO)
			WHERE PRDT_STATUS = 'Y'
			AND PRDT_TYPE = 'C'
			<if test="sv != null">
				<bind name="val" value="'%' + sv + '%'"/>
				AND PRDT_NAME LIKE '%' || #{val} || '%'
			</if>
			AND(CT_NO = #{ct} AND TAG_NO IN
				<foreach collection="hashNo" item="tag" open="(" close=")" separator=",">
				#{tag}
				</foreach> 
			)
		</foreach>
	)
	</select>
	
	<!-- 검색 조건이 포함된 클래스 목록 조회 -->
	<select id="selectSearchList" resultMap="class_rm">
		<foreach collection="category" item="ct" open="(" close=")" separator="INTERSECT">
			SELECT * FROM PRODUCT
			JOIN PRODUCT_TAG USING(PRDT_NO)
			JOIN HASHTAG USING(TAG_NO)
			JOIN G_CATEGORY USING(CT_NO)
			WHERE PRDT_STATUS = 'Y'
			AND PRDT_TYPE = 'C'
			<if test="sv != null">
				<bind name="val" value="'%' + sv + '%'"/>
				AND PRDT_NAME LIKE '%' || #{val} || '%'
			</if>
			AND(CT_NO = #{ct} AND TAG_NO IN
				<foreach collection="hashNo" item="tag" open="(" close=")" separator=",">
				#{tag}
				</foreach> 
			)
		</foreach>	
	</select>
	
	<!-- 카테고리가 포함되지 않은 검색 클래스 목록 조회 -->
	<select id="selectClassListAll" resultMap="class_rm">
		SELECT * FROM PRODUCT
			JOIN PRODUCT_TAG USING(PRDT_NO)
			JOIN HASHTAG USING(TAG_NO)
			JOIN G_CATEGORY USING(CT_NO)
			WHERE PRDT_STATUS = 'Y'
			AND PRDT_TYPE = 'C'
			<if test="sv != null">
				<bind name="val" value="'%' + sv + '%'"/>
				AND PRDT_NAME LIKE '%' || #{val} || '%'
			</if>
	</select>
	
</mapper>