@charset "UTF-8";

#wrapper {
	display: flex;	
	margin-bottom: 100px;
}

#b-enrolment-list-wrapper {
	width: 70%;
	margin: 100px auto;	
}

/* 페이지 상단 부분 */
#wrapper-top-area {
	width: 100%;
	min-width: 800px;
	margin: 20px 0;
	display: flex; 
	justify-content: space-between;
}

#list-search-1, #list-search-2, #date-form{
	width: 100%;
	display: flex;
}

#list-search-1 {
	padding-right: 20px;
}

.day-btn {
	height : 36px; 
	font-size : 16px; 
	background-color: #FE929F;
	font-family: 'TmoneyRoundWindRegular';
	border: 0;
	outline: 0;
}

.day-btn:hover, #status-change-btn:hover , #list-search-btn:hover {
	cursor: pointer;
	background-color: #8e8989;
	color: #FFF;
}

#status-change-btn, #list-search-btn {
	height : 36px; 
	font-size : 16px; 
	background-color: #FE929F;
	font-family: 'TmoneyRoundWindRegular';
	border-radius: 10px;
}

/* 판매 글 목록 */
#enrolment-list {
	min-height: 500px;
	min-width: 1200px;
}

#list-table {
	width: 100%;
}

#table-head > th{
	padding: 10px 0;
	font-family: 'yg-jalnan';
}

.enrolment-td {
	padding: 5px 20px;
	border-bottom: 1px solid lightgray;
	text-align: center;
	word-break:break-all;
	font-family: 'TmoneyRoundWindRegular';
}

/* .prdt-name {
  white-space: nowrap;
} */


/* 검색 영역 */
#container-form {
	text-align: right;
}


/* 페이징바 영역 */
#page-area {
	margin-top: 15px;
	text-align: center;
}





/* 반응형 */
@media screen and (max-width:768px) {
 
  #wrapper-top-area {
		flex-direction: column;
		align-items: center;
		min-width: 500px;
	}
	
	#date-form {
		flex-direction: column;
		align-items: center;
	}
	
	.list-search {
		padding: 20px 0;
		text-align: center;
	}

	#list-search-1 {
		padding-right: 0;
		width: auto;
	}

  #enrolment-list {
    display: flex;
  	flex-direction: column;
  	min-height: auto;
  	min-width: 500px;
  }
  
  .hide{
		display: none;
  }
}