@charset "UTF-8";

#wrapper {
	display: flex;	
}

#b-order-list-wrapper {
	margin: 100px auto;	
}

/* 페이지 상단 부분 */
#wrapper-top-area {
	width: 100%;
	margin: 20px 0;
	display: flex; 
	justify-content: space-between;
}

#list-search-1, #list-search-2, #date-form{
	width: 100%;
	display: flex;
}

#list-search-1 {
	padding-right: 20px;
}



/* 판매 글 목록 */
#order-list {

}

#list-table {
	width: 100%;
}

.order-td {
	padding: 5px 20px;
	border-bottom: 1px solid lightgray;
	text-align: center;
}

