@charset "UTF-8";

#wrapper {
	display: flex;	
}

#b-order-list-wrapper {
	margin: 100px auto;	
}

/* 페이지 상단 부분 */
#wrapper-top-area {
	width: 100%;
	margin: 20px 0;
	display: flex; 
}

#container-form {
	width: 100%;
	display: flex;
}

.list-search {
	padding: 20px;
}


/* 판매 글 목록 */
#order-list {

}

#list-table {
	width: 100%;
}

.order-td {
	padding: 20px 15px;
	text-align: center;
}

.order-td:nth-child(odd) {
	background-color: lightgray;
}

