@charset "UTF-8";

#wrapper {
	display: flex;
}

#b-sell-list-wrapper {
	width: 70%;
	margin: auto;
}

/* 페이지 상단 부분 */
#wrapper-top-area {
	width: 100%;
	margin: 20px 0;
	display: flex; 
}

#container-form {
	width: 100%;
	display: flex;
	justify-content: space-between;
}


/* 판매 글 목록 */
#sell-list {
	height: 800px;
  display: grid;
  grid-template-rows: 33% 33% 34%;
  grid-template-columns: 33% 33% 34%;
}

.sell-item {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.sell-item > img {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

.item-img {
	margin-bottom: 15px;
	width: 200px;
	height: 200px;
}

.item-name {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}
