@charset "UTF-8";

#wrapper {
	display: flex;
	margin-bottom: 100px;
}

#wrapper h1 {
	font-family: 'TmoneyRoundWindRegular';
	font-size: 20px;
}

#b-sell-list-wrapper {
	width: 70%;
	margin: 100px auto;
}

/* 페이지 상단 부분 */
/* #wrapper-top-area {
	width: 100%;
	margin: 20px 0;
	display: flex; 
}

#container-form {
	width: 100%;
	display: flex;
	justify-content: space-between;
} */
#wrapper-top-area {
	width: 100%;
	min-width: 800px;
	margin: 20px 0;
	display: flex; 
	justify-content: space-between;
}

#list-search-1, #list-search-2, #date-form{
	width: 100%;
	display: flex;
}

#list-search-1 {
	padding-right: 20px;
}

.day-btn {
	height : 36px; 
	font-size : 16px; 
	background-color: #fdd7dc; 
	border: 0;
	outline: 0;
	font-family: 'TmoneyRoundWindRegular';
	transition: .5s;
}

.day-btn:hover, #status-change-btn:hover , #list-search-btn:hover {
	cursor: pointer;
	background-color: #f1abb4;
	transition: .5s;
}


/* 판매 글 목록 */
#sell-list {
  min-height: 800px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  row-gap: 20px;
}

.hidden-input {
	display: none;
}

.sell-item {
	display: flex;
	vertical-align: middle;
	flex-direction: column;
	text-align: center;
}

.sell-item:hover {
	cursor: pointer;
}

.sell-item > img {
	object-fit: contain;
	display: block;
	margin: auto;
	width: 150px;
	height: 150px;
}

.item-name {
	font-family: 'TmoneyRoundWindRegular';
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    
}

/* 페이징바 영역 */
#page-area {
	margin-top: 40px;
	text-align: center;
}

.pagination li{
	display: inline-block;
	aling: center;
} 

.pagination li a{
	display:inline-block;
	margin:0 auto;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fdd7dc;
	font-size:13px;
	color:white;
	text-decoration:none;
}

.pagination li a:hover {
	background-color: #8e8989;
}

@media screen and ( max-width: 768px ) {
	#sell-list {
	  display: grid;
	  grid-template-columns: 100%;
	  column-gap: 0;
	  row-gap: 20px;
	}
	
}
