<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchMapper">


	<!-- 선물 resultMap -->
	<resultMap type="Gift" id="gift_rm">
		<id property="prdtNo" column="PRDT_NO"/>
		
   		<result property="prdtType" column="PRDT_TYPE"/>
  		<result property="prdtName" column="PRDT_NAME"/>
  		<result property="prdtContent" column="PRDT_CONTENT"/>
  		<result property="prdtPrice" column="PRDT_PRICE"/>
  		<result property="readCount" column="READ_COUNT"/>
  		<result property="createDate" column="CREATE_DATE"/>		
  		<result property="modifyDate" column="MODIFY_DATE"/>
  		<result property="prdtStatus" column="PRDT_STATUS"/>
  		<result property="memNo" column="MEM_NO"/>
  		<result property="gStatus" column="G_STATUS"/>
	</resultMap>
	
	<!-- 클래스 resultMap -->
	<resultMap type="Class" id="class_rm">
		<id property="prdtNo" column="PRDT_NO"/>
		
   		<result property="prdtType" column="PRDT_TYPE"/>
  		<result property="prdtName" column="PRDT_NAME"/>
  		<result property="prdtContent" column="PRDT_CONTENT"/>
  		<result property="prdtPrice" column="PRDT_PRICE"/>
  		<result property="readCount" column="READ_COUNT"/>
  		<result property="createDate" column="CREATE_DATE"/>
  		<result property="modifyDate" column="MODIFY_DATE"/>
  		<result property="prdtStatus" column="PRDT_STATUS"/>
  		<result property="memNo" column="MEM_NO"/>
  		
  		<result property="cCount" column="C_COUNT"/>
  		<result property="cNowCount" column="C_NOWCOUNT"/>
  		<result property="cSession" column="C_SESSION"/>
  		<result property="cLocal" column="C_LOCATE"/>
  		<result property="cStartDate" column="C_START_DATE"/>
  		<result property="cEndDate" column="C_END_DATE"/>
  		<result property="cStatus" column="C_STATUS"/>
  		<result property="cDate" column="C_DATE"/>
	</resultMap>
	
	<select id="selectGiftSearchList" parameterType="Search">
		<foreach collection="category" item="ct" open="(" close=")" separator="INTERSECT">
			SELECT * FROM PRODUCT
			JOIN PRODUCT_TAG USING(PRDT_NO)
			JOIN HASHTAG USING(TAG_NO)
			JOIN G_CATEGORY USING(CT_NO)
			WHERE PRDT_STATUS = 'Y'
			AND PRDT_TYPE = 'G'
			<if test="sv != null">
				<bind name="val" value="'%' + sv + '%'"/>
				AND PRDT_NAME LIKE '%' || #{val} || '%'
			</if>
			AND(CT_NO = #{ct} AND TAG_NO IN
				<foreach collection="hashNo" item="tag" open="(" close=")" separator=",">
				#{tag}
				</foreach> 
			)
		</foreach>
	</select>

	<select id="selectClassSearchList" parameterType="Search">
		<foreach collection="category" item="ct" open="(" close=")" separator="INTERSECT">
			SELECT * FROM PRODUCT
			JOIN PRODUCT_TAG USING(PRDT_NO)
			JOIN HASHTAG USING(TAG_NO)
			JOIN G_CATEGORY USING(CT_NO)
			WHERE PRDT_STATUS = 'Y'
			AND PRDT_TYPE = 'C'
			<if test="sv != null">
				<bind name="val" value="'%' + sv + '%'"/>
				AND PRDT_NAME LIKE '%' || #{val} || '%'
			</if>
			AND(CT_NO = #{ct} AND TAG_NO IN
				<foreach collection="hashNo" item="tag" open="(" close=")" separator=",">
				#{tag}
				</foreach> 
			)
		</foreach>
	</select>
	
	
	</mapper>